---
layout: firstpage
title: hello
menuOption: home
---

<!--body-->
      <!-- Docs page layout -->
    <div class="bs-docs-header" id="content">
      <div class="container">
        <h1>Quality And Effciency</h1>
        <p>Improve software quality and efficency。</p>
        
      </div>
    </div>

    <div class="container bs-docs-container">

      <div class="row">
        <div class="col-md-9" role="main">
          <div class="bs-docs-section">

             {% for post in site.posts limit: 15 %}
            <!-- <li class='post_seperator'> -->
              <article class='post_seperator entry'>
                              {% include post_summary.html %}
              </article>

            <!-- </li> -->
          {% endfor %}
  
          </div>
        </div>
        <div class="col-md-3">
          <div class="bs-docs-sidebar hidden-print hidden-xs hidden-sm affix-top" role="complementary">
            <ul class="nav bs-docs-sidenav">
                {% for post in site.posts limit: 15 %}
                <li class=""><a href="./#{{ post.title }}">{{ post.title }}</a>
                </li>
                {% endfor %}
            </ul>
            </div>
</div>

</div>
</div>










