<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="devops - 持续集成、配置管理、编译、发布、自动化测试、持续交付、持续部署、互联网相关
。">
<meta name="keywords" content="HTML, CSS, JS, JavaScript, framework, bootstrap, front-end, frontend, web development">
<meta name="author" content="liubin &lt;liu.bin248@gmail.com&gt;">

<title>
  
    首页 · 刘斌的Blog
  
</title>

<!-- Bootstrap core CSS -->
<link href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">

<link href="http://v3.bootcss.com/assets/css/patch.css" rel="stylesheet">

<!-- Documentation extras -->
<link href="http://v3.bootcss.com/assets/css/docs.min.css" rel="stylesheet">
<!--[if lt IE 9]><script src="../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
<!-- replaced
	<script src="./起步 · Bootstrap 中文文档_files/ie-emulation-modes-warning.js"></script> -->

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
  <script src="http://cdn.bootcss.com/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

<!-- Favicons -->
<link rel="apple-touch-icon" href="http://v3.bootcss.com/apple-touch-icon.png">
<link rel="icon" href="http://v3.bootcss.com/favicon.ico">
<script>
  var _hmt = _hmt || [];
</script>
  </head>